{% extends 'base.html' %} {% block inicio_current %} active {%endblock%} 


{% block content %}

<div class="container">
    <h3 style="margin: 30px">Top 3 Economies</h2>
</div>

<div class="container">
    <style>
        tbody>tr:hover{ 
            background: #0659f350;
        }
    </style>
    <div class="" style="width:700px">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Username</th>
                    <th scope="col">Economia</th>
                    <th scope="col">Ingresos (total)</th>
                    <th scope="col">Gastos (total)</th>
                </tr>
            </thead>
            <tbody>
                {% for u in usuarios %}
                    <tr>
                        <th>{{u.pk}}</th>
                        <th>{{u.nombre}}</th>
                        <th><a href="/app/usuario/{{u.username}}">{{u.username}}</a></th>
                        <th>{{u.economia}}</th>
                        <th>{{u.totalIngresos}}</th>
                        <th>{{u.totalGastos}}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}